def cantidad_filmaciones_mes( Mes) : Se ingresa un mes en idioma español. Debe devolver la cantidad de películas que fueron

estrenadas en el mes consultado en la totalidad del dataset.

                    Ejemplo de retorno: Xcantidad de películas fueron estrenadas en el mes deX

In [2]:
import pandas as pd

df_movies= pd.read_csv("df_movies.csv")

In [6]:
def cantidad_filmaciones_mes(mes:str):
    # Diccionario de meses en español
    meses = {
        1: 'Enero',
        2: 'Febrero',
        3: 'Marzo',
        4: 'Abril',
        5: 'Mayo',
        6: 'Junio',
        7: 'Julio',
        8: 'Agosto',
        9: 'Septiembre',
        10: 'Octubre',
        11: 'Noviembre',
        12: 'Diciembre'
    }    

    df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], errors='coerce')

    # Extraer el mes numérico
    df_movies['mes_num'] = df_movies['release_date'].dt.month

    # Convertir el mes numérico a nombre de mes
    df_movies['mes'] = df_movies['mes_num'].map(meses)

    meses = df_movies[df_movies['mes'] == mes].shape[0]

    return  f"{meses} cantidad de películas fueron estrenadas en el mes de {mes}"

In [42]:
cantidad_filmaciones_mes("Marzo")

'3553 cantidad de películas fueron estrenadas en el mes de Marzo'

def cantidad_filmaciones_dia( Dia ): Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron 

estrenadas en día consultado en la totalidad del dataset.

In [116]:
def cantidad_filmaciones_dia( Dia :str):

    # Crear una columna adicional con el nombre del día de la semana en inglés
    df_movies['day_of_week_en'] = df_movies['release_date'].dt.strftime('%A').str.lower()

    dias = {
        'monday': 'lunes',
        'tuesday': 'martes',
        'wednesday': 'miercoles',
        'thursday': 'jueves',
        'friday': 'viernes',
        'saturday': 'sabado',
        'sunday': 'domingo'
    }

    # Traducir los días de la semana al español usando el diccionario
    df_movies['day_of_week_es'] = df_movies['day_of_week_en'].map(dias)

    # Filtrar las películas que coinciden con el día consultado
    count = df_movies[df_movies['day_of_week_es'] == Dia].shape[0]

    return f"{count} cantidad de películas fueron estrenadas en los días {Dia}"

In [115]:
cantidad_filmaciones_dia("miercoles")

'7035 cantidad de películas fueron estrenadas en los días miercoles'

def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año

 de estreno y el score.

In [70]:
def score_titulo( titulo:str ):

    # Buscar la película por el título
    pelicula = df_movies[df_movies['title'].str.lower() == titulo.lower()]

    # Extraer el título, el año y el score
    titulo = pelicula['title'].values[0]
    anio = pelicula['release_year'].values[0]
    score = pelicula['vote_average'].values[0]

    return f"La película {titulo} fue estrenada en el año {anio} con un score/popularidad de {score}"

In [71]:
score_titulo("Inception")

'La película Inception fue estrenada en el año 2010 con un score/popularidad de 8.1'

def votos_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, 

la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 

valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se 

devuelve ningun valor.

In [102]:
pelicula = df_movies[df_movies['title'].str.lower() == "Star Wars Collection".lower()]

In [103]:
pelicula

Empty DataFrame
Columns: [Unnamed: 0, budget, genres, id, original_language, overview, popularity, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, id.1, name, backdrop_path, name.1, id.2, release_year, retorno_de_inversion, mes_num, mes, day_of_week, day_of_week_en, day_of_week_es]
Index: []

[0 rows x 29 columns]

In [109]:
def votos_titulo( titulo:str ):

    # Buscar la película por el título
    pelicula = df_movies[df_movies['title'].str.lower() == titulo.lower()]

    # Contar la cantidad de votos
    votos = pelicula["vote_count"].values[0]
    if votos >= 2000:

        # Extraer el título, el año y el score
        titulo= pelicula['title'].values[0]
        cantidad_votos = pelicula["vote_count"].values[0]
        promedio_votos = pelicula['vote_average'].values[0]
        año = pelicula["release_year"].values[0]

        return f"La película {titulo} fue estrenada en el año {año}. La misma cuenta con un total de {cantidad_votos} valoraciones, con un promedio de {promedio_votos}"
    
    else:
        return f"La película {titulo} no cumple con las condiciones de superar los 2000 votos"

In [110]:
votos_titulo("Cinderella")

'La película Cinderella no cumple con las condiciones de superar los 2000 votos'

def get_actor( nombre_actor) : Se ingresa el nombre de un actor que se encuentra dentro de un dataset debiendo devolver el 

éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de 

retorno. La definición no deberá considerar directores.

                Ejemplo de retorno: El actor Xha participado de Xcantidad de filmaciones, el mismo ha obtenido un retorno de Xcon un promedio de Xpor filmación

In [5]:
df_movies.columns

Index(['Unnamed: 0', 'budget', 'genres', 'id', 'original_language', 'overview',
       'popularity', 'production_countries', 'release_date', 'revenue',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'id.1', 'name', 'backdrop_path', 'name.1',
       'id.2', 'release_year', 'retorno_de_inversion'],
      dtype='object')