In [141]:
import pandas as pd
import numpy as np

df_movies= pd.read_csv("df_movies.csv",low_memory= False)

def cantidad_filmaciones_mes( Mes) : Se ingresa un mes en idioma español. Debe devolver la cantidad de películas que fueron

estrenadas en el mes consultado en la totalidad del dataset.

                    Ejemplo de retorno: Xcantidad de películas fueron estrenadas en el mes deX

In [142]:
def cantidad_filmaciones_mes(mes:str):
    # Diccionario de meses en español
    meses = {
        1: 'Enero',
        2: 'Febrero',
        3: 'Marzo',
        4: 'Abril',
        5: 'Mayo',
        6: 'Junio',
        7: 'Julio',
        8: 'Agosto',
        9: 'Septiembre',
        10: 'Octubre',
        11: 'Noviembre',
        12: 'Diciembre'
    }    

    df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], errors='coerce')

    # Extraer el mes numérico
    df_movies['mes_num'] = df_movies['release_date'].dt.month

    # Convertir el mes numérico a nombre de mes
    df_movies['mes'] = df_movies['mes_num'].map(meses)

    meses = df_movies[df_movies['mes'] == mes].shape[0]

    return f"{meses} cantidad de películas fueron estrenadas en el mes de {mes}"

In [133]:
df_movies['title'].value_counts()

title
Blackout               13
Cinderella             11
Alice in Wonderland     9
Hamlet                  9
The Promise             8
                       ..
Svengali                1
Lampaansyöjät           1
Animal Kingdom          1
The Exploding Girl      1
Queerama                1
Name: count, Length: 42195, dtype: int64

In [132]:
def score_titulo( titulo:str ):

    # Buscar la película por el título
    pelicula = df_movies[df_movies['title'].str.lower() == titulo.lower()]

    # Extraer el título, el año y el score
    titulo = pelicula['title'].values[0]
    anio = pelicula['release_year'].values[0]
    score = pelicula['vote_average'].values[0]

    return f"La película {titulo} fue estrenada en el año {anio} con un score/popularidad de {score}"

In [147]:
score_titulo("Blackout")

'La película Blackout fue estrenada en el año 2008.0 con un score/popularidad de 6.7'

In [151]:
def get_actor(nombre_actor):
    # Filtrar el DataFrame para obtener solo las filas donde el actor está en el cast
    df_actor = df_movies[df_movies['actor'] == nombre_actor]
    
    # Contar el número de películas en las que ha participado
    cantidad_peliculas = df_actor.shape[0]
    
    # Filtrar para obtener solo las películas con retorno de inversión válido
    df_actor = df_actor[
        (df_actor['retorno_de_inversion'] != np.inf) &  # Excluir infinito
        (df_actor['retorno_de_inversion'] != -np.inf) &  # Excluir -infinito
        (df_actor['retorno_de_inversion'].notna()) &  # Excluir NaN
        (df_actor['retorno_de_inversion'] >= 0)  # Asegurarse de que el valor sea positivo
    ]
    
    # Calcular el promedio de retorno de inversión
    promedio_retorno = df_actor['retorno_de_inversion'].mean() if cantidad_peliculas > 0 else 0
    retorno_inversion =df_actor["retorno_de_inversion"].sum() 

    
    return f"El actor {nombre_actor} participado de {cantidad_peliculas} de filmaciones, el mismo ha obtenido un retorno de {retorno_inversion} un promedio de {promedio_retorno:.2f} filmación"

In [152]:
get_actor("Tom Hanks")

'El actor Tom Hanks participado de 72 de filmaciones, el mismo ha obtenido un retorno de 35.926088566666664 un promedio de 2.99 filmación'

In [154]:
df_movies["director"]

0          John Lasseter
1            Joss Whedon
2         Andrew Stanton
3             Joel Cohen
4           Alec Sokolow
               ...
565326               NaN
565327               NaN
565328               NaN
565329               NaN
565330               NaN
Name: director, Length: 565331, dtype: object

In [155]:
def get_director(nombre_director):
    
    # Filtrar el dataframe por el nombre del director
    df_director= pd.DataFrame(df_movies[["director","retorno_de_inversion","release_year","title","revenue","budget"]])

    director_df = df_movies[df_movies['director'] == nombre_director]
    
    # Filtrar para obtener solo las películas con retorno de inversión válido
    director_df = director_df[
        (director_df['retorno_de_inversion'] != np.inf) &  # Excluir infinito
        (director_df['retorno_de_inversion'] != -np.inf) &  # Excluir -infinito
        (director_df['retorno_de_inversion'].notna()) &  # Excluir NaN
        (director_df['retorno_de_inversion'] >= 0)  # Asegurarse de que el valor sea positivo
    ]

    # Calcular el retorno total (éxito)
    retorno_total = director_df['retorno_de_inversion'].sum()
    
    # Crear una lista de diccionarios con la información de cada película
    peliculas_info = []
    for _, row in director_df.iterrows():
        peliculas_info.append({
            'titulo': row['title'],
            'fecha_lanzamiento': row['release_year'],
            'retorno_individual': row['retorno_de_inversion'],
            'costo': row['budget'],
            'ganancia': row['revenue']
        })
    
    return {
        'nombre_director': nombre_director,
        'retorno_total': retorno_total,
        'peliculas': peliculas_info
    }

In [156]:
get_director("John Lasseter")

{'nombre_director': 'John Lasseter',
 'retorno_total': np.float64(19.531318866666666),
 'peliculas': [{'titulo': 'Toy Story',
   'fecha_lanzamiento': 1995.0,
   'retorno_individual': 12.4518011,
   'costo': 30000000.0,
   'ganancia': 373554033.0},
  {'titulo': 'Ace Ventura: When Nature Calls',
   'fecha_lanzamiento': 1995.0,
   'retorno_individual': 7.079517766666667,
   'costo': 30000000.0,
   'ganancia': 212385533.0},
  {'titulo': 'Sexmission',
   'fecha_lanzamiento': 1984.0,
   'retorno_individual': 0.0,
   'costo': 5985.0,
   'ganancia': 0.0},
  {'titulo': 'A Spring for the Thirsty',
   'fecha_lanzamiento': 1965.0,
   'retorno_individual': 0.0,
   'costo': 0.0,
   'ganancia': 0.0},
  {'titulo': 'Room',
   'fecha_lanzamiento': 2005.0,
   'retorno_individual': 0.0,
   'costo': 0.0,
   'ganancia': 0.0}]}

def recomendacion( titulo ): Se ingresa el nombre de una película y te recomienda las similares en una lista de 5 valores.

In [3]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler
from scipy.sparse import csr_matrix
from sklearn.decomposition import PCA

In [95]:
df_recomendacion = pd.read_csv("df_recomendacion.csv",low_memory=False)

In [96]:
# Definir las columnas que deseas eliminar
columns_to_drop = ['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'genres', 
                   'original_language', 'release_date', 'franquicia_id', 'name', 'name.1'
                   , 'retorno_de_inversion', 'credit_id', 'name.2', 'profile_path', 
                   'cast_id', 'character', 'credit_id.1', 'actor_id', 'name.3', 'order', 
                   'profile_path.1', 'genres_id']

# Verificar cuáles de esas columnas realmente existen en el dataframe
columns_present = [col for col in columns_to_drop if col in df_recomendacion.columns]


# Eliminar solo las columnas que existen
df_recomendacion = df_recomendacion.drop(columns=columns_present)

In [97]:
df_recomendacion.columns

Index(['budget', 'movie_id', 'popularity', 'revenue', 'title', 'vote_average',
       'vote_count', 'release_year', 'Genero'],
      dtype='object')

In [98]:
df_recomendacion = df_recomendacion.dropna(subset=['budget', 'popularity', 'release_year','revenue', 'title', 'vote_average',
       'vote_count', 'Genero',"movie_id"])

In [124]:
df_recomendacion = df_recomendacion[df_recomendacion['release_year'] >= 2017]  # Por ejemplo, filtrar por años recientes

In [125]:
df_recomendacion['release_year'].value_counts()

release_year
2017.0    520
2018.0      5
2020.0      1
Name: count, dtype: int64

In [169]:
    from sklearn.metrics.pairwise import cosine_similarity

    df_movies = df_movies[df_movies['release_year'] >= 2017]  # Por ejemplo, filtrar por años recientes

In [170]:
    # Crear una matriz de usuario-item
    user_item_matrix = pd.pivot_table(df_movies, values='vote_average', index='movie_id', columns='title', fill_value=0)

In [171]:
    # Calcular la similitud de coseno entre peliculas
    peliculas_similares = cosine_similarity(user_item_matrix.T)

In [173]:
    # Encontrar el índice del juego en la matriz
    peliculas_index = user_item_matrix.columns.get_loc("Avatar 2")

In [174]:
 # Calcular la similitud de coseno entre el juego deseado y otros juegos
peliculas_similares = peliculas_similares[peliculas_index]

In [184]:
# Crear un DataFrame con juegos similares y sus similitudes
similar_peliculas = pd.DataFrame({
        'Peliculas': user_item_matrix.columns,
        'Similarity': peliculas_similares
    })

    # Ordenar los juegos por similitud en orden descendente
top_n_recommendations = similar_peliculas.sort_values(by='Similarity', ascending=False).head(5)

top_n_recommendations

                                 Peliculas  Similarity
0                            1 Mile to You         0.0
353                             Savageland         0.0
367                              Sleepless         0.0
366                                  Skins         0.0
365  Site Unseen: An Emma Fielding Mystery         0.0

In [191]:
def Recomendacion_juego(pelicula:str):
    
    from sklearn.metrics.pairwise import cosine_similarity

    # Filtrar por películas lanzadas desde 2017
    df_movies_filtered = df_movies[df_movies['release_year'] >= 2017]

    # Crear una matriz de usuario-item
    user_item_matrix = pd.pivot_table(df_movies_filtered, values='vote_average', index='movie_id', columns='title', fill_value=0)

    # Calcular la similitud de coseno entre peliculas
    peliculas_similares = cosine_similarity(user_item_matrix.T)

    # Encontrar el índice del juego en la matriz
    peliculas_index = user_item_matrix.columns.get_loc(pelicula)
    

    # Calcular la similitud de coseno entre el juego deseado y otros juegos
    peliculas_similares = peliculas_similares[peliculas_index] 

    # Crear un DataFrame con juegos similares y sus similitudes
    similar_peliculas = pd.DataFrame({
        'Peliculas': user_item_matrix.columns,
        'Similarity': peliculas_similares
    })

    # Ordenar los juegos por similitud en orden descendente
    top_5_recomendadas = similar_peliculas.sort_values(by='Similarity', ascending=False).head(5)

    
    
    return top_5_recomendadas

In [189]:
df_recomendacion["title"].value_counts()

title
Avatar 2                         1
The Wedding Plan                 1
Vir Das: Abroad Understanding    1
Becoming Bond                    1
War Machine                      1
                                ..
Power Rangers                    1
Ghosts of Darkness               1
The King                         1
Buster's Mal Heart               1
Queerama                         1
Name: count, Length: 526, dtype: int64

In [91]:
df_recomendacion[df_recomendacion["title"]=="Toy Story"]

Empty DataFrame
Columns: [budget, movie_id, popularity, revenue, title, vote_average, vote_count, release_year, Genero]
Index: []